
*{
 box-sizing: border-box;
 padding: auto;
 
}

html, body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.mi-header {
    display: flex;
    position: relative;
    background-image: url('./img/header.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px; 
}

.logo {
    position: absolute;
    top: 20px; 
    left: 20px;
    width: 100px;
    height: 100px; 
    z-index: 1; 
    display: flex;
    cursor: pointer;
}

.sup{
    display: flex;
    justify-content: space-between;
}


.mi-header .sup .mi-nav{
    padding: 16px;
}

.mi-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    position: absolute;
    top: 20px; 
    right: 20px; 
    z-index: 1; 
}


.mi-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.mi-nav ul li{
    display: inline-flex; 
    margin-right: 3rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
    border-right: none;
    text-decoration: none;
    align-items: center;
}

.mi-nav ul li img {
    margin-right: 10px; 
}

.mi-nav ul li:last-child{
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    
}

.mi-nav ul:last-child {
    display: flex;
    align-items: center;
}

.mi-nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}




.banner-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background-color: #99999915;
    width: 95%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
}

.banner-principal p{
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    color: rgb(232, 66, 25);
}

.categorias{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9999998a;
    margin-top: 48px;
}

.categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
}

.categoria a{
    
    background-color: rgb(229, 147, 147);
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.contenedor-columnas{
    margin-top: 0;
    column-count: 2; 
    column-gap: 25px;
    font-size: 16px; 
    line-height: 1.6;
    text-align: justify;
}

.mi-footer {
    background-color: #CCCCCC;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Se agrega posición relativa para establecer la referencia */
    height: 3em; /* Ajusta la altura del footer según sea necesario */
  }
  
  .mi-footer a {
    text-decoration: none;
    color: black;
    position: absolute; /* Se agrega posición absoluta */
    justify-content: center; /* Centra el enlace */
    z-index: 1;
    height: 1em;
  }
    

 

  @media only screen and (max-width: 600px) {
    .mi-nav,
    .sup .ul{
        display: none;
    }
    
    .categorias{
        flex-direction: column;
    }

    .categoria{
        width: 100%;
    }

  }
  